name: Node.js CI

on:
  workflow_dispatch:   # runs only when you click Run workflow manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Print Node.js version
        run: node -v

      - name: Print npm version
        run: npm -v

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
